<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h2>VMG</h2>
    <p class="nomeUsuario">Olá,<span th:text="${bank.nome}"></span></p>
    <button class="Sair">Sair</button>
</header>


<div class="saldo" th:if="${bank != null}">
    <p>R$ <span th:text="${bank.saldo}"></span></p>
</div>

</body>
</html>
