<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link href="../static/css/styleTransferencia.css" th:href="@{/css/styleTransferencia.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h2>VMG</h2>
    <p class="nomeUsuario">Olá,<span th:text="${bank.nome}"></span></p>
    <button class="Sair">Sair</button>
</header>
<div class="saldo" th:if="${bank != null}">
    <p>R$ <span th:text="${bank.saldo}"></span></p>
</div>
<div class="menu">
    <nav>
        <button><a th:href="@{/usuarios/pagina-inicial/{id}(id=${bank.id})}">Inicio</a></button>
        <button><a th:href="@{/usuarios/editar/{id}(id=${bank.id})}">Editar</a></button>
        <button><a th:href="@{/usuarios/registro/{id}(id=${bank.id})}">Registro</a></button>
    </nav>